/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.logo {
    margin-right: 15px;
}

.welcome-h3 {
    text-align: center;
}
.carousel-inner img {
    width: 300px; 
    height: auto; 
    object-fit: cover; 
}

.carousel-caption {
    top: 45%;  
    transform: translateY(-50%); 
    left: 0; 
    right: auto; 
    font-size: 24px;
    color: #fff; 
    padding: 10px;
}

.container {
    margin-bottom: 20px;
}

.p-img img {
    width: 100%;
}

.p-sub {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.about-main {
    display: flex;
    flex-direction: column;
}

.about-sub {
    flex: auto;
    padding: 10px;
}

.about-sub img {
    width: 100%
}

.about-sub-head {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .p-main {
        display: flex;
        flex: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .p-sub {
        display: flex;
        flex-basis: 45%;
        /* padding: 10px; */
    }
    .sub-1 {
        padding: 10px 10px 10px 0px;
    }

    .sub-2 {
        padding: 10px 0px 10px 10px;
    }
}

